// Poppins
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Thin.ttf");
  font-style: normal;
  font-weight: 200;
}

//Nato Sans
@font-face {
  font-family: NotoSans;
  src: url("../assets/fonts/NotoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: NotoSans;
  src: url("../assets/fonts/NotoSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
