// Colors
$blueDream: #0072f0;
$greenCrack: #1ce0ad;
$LAConfidential: #0022ac;
$NYCDiesel: #01bbb4;
$whiteWidow: #ffffff;
$grandaddyPurp: #1b1443;
$pageColor: #eee;
$invoiceBackground: #dfdfdf;

// Sizes
$roundedCorner: 10px;
$padding: 24px;
$paddingSM: 14px;
